*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Sohne";
    src: url(../fonts/Sohne.cb178166.woff2) format(woff2);
}

@font-face {
    font-family: "SourceCodePro";
    src: url(../fonts/SourceCodePro-Medium.f5ba3e6a.woff2) format(woff2);
}

:root {
    --font-sohne: "Sohne";
    --font-source: "SourceCodePro";
}

body {
    font-size: 1rem;
    background-color: #ffffff;
    font-family: var(--font-sohne);
    font-feature-settings: "ss01";
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

li {
    list-style-type: none;
}

button {
    border: none;
    background: transparent;
}
